<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>supervised_user_circle</mat-icon>
  </button>
  <span>Matrix App</span>
  <span class="example-spacer"></span>

  <button mat-raised-button color="warn" (click)="openDialog()">
    Create matrix
  </button>
</mat-toolbar>

<div class="container">
  <div style="margin-top: 10px">
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. Mia"
        #input
      />
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="GSSN_OUTLETID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            GSSN_OUTLETID
          </th>
          <td mat-cell *matCellDef="let row">{{ row.GSSN_OUTLETID }}</td>
        </ng-container>

        <ng-container matColumnDef="GSSN_COMPANYID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            GSSN_COMPANYID
          </th>
          <td mat-cell *matCellDef="let row">{{ row.GSSN_COMPANYID }}%</td>
        </ng-container>

        <ng-container matColumnDef="vd_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>vd_name</th>
          <td mat-cell *matCellDef="let row">{{ row.vd_name }}</td>
        </ng-container>

        <ng-container matColumnDef="vfnr">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>vfnr</th>
          <td mat-cell *matCellDef="let row">{{ row.vfnr }}</td>
        </ng-container>

        <ng-container matColumnDef="mode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>mode</th>
          <td mat-cell *matCellDef="let row">{{ row.mode }}</td>
        </ng-container>

        <ng-container matColumnDef="company_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            company_name
          </th>
          <td mat-cell *matCellDef="let row">{{ row.company_name }}</td>
        </ng-container>

        <ng-container matColumnDef="branch">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>branch</th>
          <td mat-cell *matCellDef="let row">{{ row.branch }}</td>
        </ng-container>

        <ng-container matColumnDef="street">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>street</th>
          <td mat-cell *matCellDef="let row">{{ row.street }}</td>
        </ng-container>

        <ng-container matColumnDef="zip">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>zip</th>
          <td mat-cell *matCellDef="let row">{{ row.zip }}</td>
        </ng-container>

        <ng-container matColumnDef="region">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>region</th>
          <td mat-cell *matCellDef="let row">{{ row.region }}</td>
        </ng-container>

        <ng-container matColumnDef="center_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>center_name</th>
          <td mat-cell *matCellDef="let row">{{ row.center_name }}</td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button color="primary" (click)="edit(row)">
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              color="warn"
              (click)="openConfirmDialog(row.id)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            No data matching the filter "{{ input.value }}"
          </td>
        </tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page of users"
      ></mat-paginator>
    </div>
  </div>
</div>
